doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title= title
        link(rel='stylesheet', href='style.css')
    body
        .container
            form(method='post', name='form')
                p
                    select(name='site')
                        - var site = ['https://news.ycombinator.com/news','https://www.reddit.com']
                        for itemS in site
                            option(selected=rememberSite == itemS) #{itemS}

                        //option(selected='', value='https://news.ycombinator.com/news') Ycombinator
                        //option(value='https://www.reddit.com') Reddit
                p
                    select(name='items')
                        - var it = [5,10,15,25];
                        for item in it
                            option(selected=rememberItems == item) #{item}
                p
                    input(type='submit', value='Отправить')
        .res
            if titles
                for name in titles
                    h6= name




